[submodule "config-server"]
	path = config-server
	url = https://github.com/SmartPark-Dev-Org/config-server.git
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/SmartPark-Dev-Org/eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/SmartPark-Dev-Org/api-gateway.git
